@import "colores";
@import "estructura";
@import "tipografia";

// Map-get
$estilo-bold: (
    ftamano: 15px,
    fvariable: 400,
    color: black,
    subrayado: none,
);

$estilo-light: (
    ftamano: 16px,
    fvariable: 300,
    color: grey,
    subrayado: none,
);

// Mixin
@mixin estilos ($width, $height, $color-borde, $borde-redondeado, $margen-inferior, $transicion) {
    width: $width;
    height: $height;
    border-color: $color-borde;
    border-radius: $borde-redondeado;
    margin-bottom: $margen-inferior;
    transition: $transicion;
}

@mixin grilla ($grid, $columnas, $espacio, $margen,$justificado, $alineacion) {
    display: $grid;
    grid-template-columns: $columnas;
    gap: $espacio;
    margin: $margen;
    justify-content: $justificado;
    align-items: $alineacion;

}

/* Encabezado */

/* Barra de navegación */

/* Logo */

.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;

    img {
        height: 30px;
    }

    p {
        margin: 0px;
        margin-left: 10px;
        font-weight: 800;
        color: $color-principal;
    }
}

/* Portada Carrousel */

.carousel-item {
    img {
        object-fit: cover;
        width: 100%;
        height: 100vh;
    }
}

/* Servicios */

/* Sección Servicios */
#services {
    padding: 80px 20px 60px 20px;
    background-image: $degrade;
    text-align: center;

    /* Alineación de elementos Cards */
    #content-cards {
        @include grilla (grid, repeat(auto-fit, minmax(250px, 250px)), 60px, 40px 0px, center, center);

        /* Sección Servicios: Cards */
        .card-services {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: none;
            max-width: 250px;
            border: 0px;

            /* Sección Servicios: Imagen */
            img {
                width: 200px;
            }

            /* Sección Servicios: Textos */
            h3 {
                font-size: 25px;
                font-weight: 500;
                margin-top: 15px;
            }

            p {
                text-align: center;
            }
        }
    }
}

/* Portfolio */

/* Sección Portfolio */
#works {
    padding: 80px 20px 50px 20px;
    text-align: center;

    #portfolio {
        margin: 1px;
        /* Márgenes */
        .content-works, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
            max-width: 1920px;
            margin-top: 50px;
            margin-bottom: 50px;

            /* Grilla Cards Proyectos */
            .grid-works {
                @include grilla (grid, repeat(auto-fit, minmax(400px, 400px)), 25px, 40px 0px, center, center);

                /* Sección Proyectos: Cards */
                .portfolio-box {
                    position: relative;
                    display: block;
                    height: 260px;
                    width: 400px;
                    transition: 0.5s;

                    &:hover {
                        transform: scale(1.03);
                    }
                    
                    /* Imagen */
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 15px;
                    }

                    .portfolio-box-caption {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        bottom: 0;
                        text-align: center;
                        opacity: 0;
                        color: #fff;
                        background: rgba(0, 0, 0, 0.5);
                        transition: opacity 0.25s ease;
                        text-align: center;
                        border-radius: 15px;

                        &:hover {
                            opacity: 1;
                        }

                        .project-category {
                            font-size: 1.2rem;
                            font-weight: 600;
                            text-transform: uppercase;
                            color: white;
                        }

                        .project-name {
                            font-size: 1rem;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }

    /* Sección Proyectos: Botón a Todos los Proyectos */
    .button-works {
        @include estilos (180px, 45px, none, 50px, 40px, .5s);
        &:hover {
            background-color: rgba(0, 0, 0, 0.8)
        }

        a {
            text-decoration: none;
            color: black;
            transition: .5s;
            &:hover {
                color: white;
            }
        }
    }
}

/* Sobre Mí */

/* Sección Sobre Mí */

#about {
    padding: 80px 20px 50px 20px;
    background-image: $degrade;

    /* Sección Sobre Mí: Imagen */
    .about-img {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }

    /* Sección Sobre Mí: Botón a Currículum */
    .button-cv {
        @include estilos (180px, 45px, white, 50px, 40px, .5s);

        &:hover {
            border-color: white;
            background-color: rgb(255, 255, 255);
        }

        a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            transition: .5s;

            &:hover {
                color: rgb(0, 0, 0);
            }
        }
    }
}

/* Contacto */

/* Sección Contacto */

#contact {
    padding: 80px 20px 10px 20px;
    text-align: center;

    /* Sección Contacto: Botón Enviar */
    .button-submit {
        margin-top: 40px;
        button {
            @include estilos (180px, 45px, none, 50px, 40px, .5s);
            &:hover {
                background-color: rgba(0, 0, 0, 0.8)
            }
        }
    }
}

/* PÁGINA: Todos los proyectos */

.works {
    margin-bottom: 14rem;
}

.title-head-page {
    font-size: 40px;
    font-weight: 1000;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.card-work {
    transition: .5s;
    &:hover {
        transform: scale(1.03)
    }
}

/* PÁGINA: Proyecto Individual */

.title-project {
    @extend .title-head-page;
    font-weight: 700;
}

.description-project {
    font-size: 16px;
    color: rgb(94, 94, 94);
}

/* Breadcrum */

.back-project {
    font-size: map-get($estilo-bold, ftamano);
    font-weight: map-get($estilo-bold, fvariable);
    color: map-get($estilo-bold, color);
    text-decoration: map-get($estilo-bold, subrayado);
    &:hover {
        color: $color-principal;
    }
}

.actual-project {
    font-size: map-get($estilo-light, ftamano);
    font-weight: map-get($estilo-light, fvariable);
    color: map-get($estilo-light, color);
    text-decoration: map-get($estilo-light, subrayado);
}

/* Grilla Galería de Imágenes */

#works {
    padding: 80px 20px 50px 20px;
    text-align: center;

    #portfolio {
        margin: 1px;
        /* Márgenes */
        .content-galery, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
            max-width: 1920px;
            margin-top: 50px;
            margin-bottom: 50px;

            /* Grilla Cards Proyectos */
            .grid-galery {
                @include grilla (grid, repeat(auto-fit, minmax(400px, 400px)), 18px, none, center, center);

                .portfolio-box {
                    position: relative;
                    display: block;
                    height: 260px;
                    width: 400px;

                    /* Imagen */
                    .img-galery {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 15px;
                        border: 2px solid rgba(168, 168, 168, 0);
                        transition: 0.4s;

                        &:hover {
                            transform: scale(1.03);
                            border: 2px solid rgba(168, 168, 168, 0.4);
                        }
                    }
                }
            }
            /* Frames */
            .frame {
                display: flex;
                justify-content: center;
                margin-top: 30px;
            
                iframe {
                    width: 94%;
                    height: 350px;
                    border-radius: 15px;
                }
            }
        }
    }
}

/* PÁGINA: Currículum */

/* Márgenes del Título Principal */

.title-curriculum {
    margin-top: 100px;
    margin-bottom: 50px;
}

/* Cuerpo de CV */

.content-cv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    margin-left: 3rem;

    .categoria {
        margin-bottom: 20px;
    
        .title_cat {
            margin-bottom: 10px;
    
            h3 {
                font-weight: 350;
                font-size: 30px;
            }
        }
    
        .rubro {
            margin: 10px 30px 20px;
    
            h4 {
                font-weight: 500;
                font-size: 20px;
                margin-bottom: 3px;
            }
            
            p {
                font-weight: 350;
                font-size: 17px;
    
                li {
                    margin-left: 25px;
                    list-style: none;
                }
            }
        }
    
        img {
            margin: 5px;
            width: 40px;
            &:hover {
                opacity: 0.6;
            }
        }
    }
}

/* Responsive Medias */

/* Menú responsive */

@media (max-width: 991px) {
    .main-nav {
        display: none;
    }

    .nav-responsive {
        visibility: visible;

            /* Navbar button responsive */
        .burgernav {
            border: 1px solid rgb(216, 216, 216) !important;
            margin-right: 2%;
        }
    }
}

/* Menú responsive: Menú plegable */

@media (min-width: 992px) {
    .nav-responsive {
        display: none;
    }
}

/* Galerías de Portfolio */

@media (max-width: 450px) {

    #works {
        padding: 80px 20px 50px 20px;
        text-align: center;
    
        #portfolio {
            margin: 1px;
            /* Márgenes */
            .content-works, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
                max-width: 1920px;
                margin-top: 50px;
                margin-bottom: 50px;

                .grid-works {
                    @include grilla (grid, repeat(auto-fit, minmax(200px, 200px)), 15px, 20px 0px, center, center);

                    .portfolio-box {
                        height: 260px;
                        width: 200px;
                
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 15px;
                        }
                    }
                }
            }
        }
    }

    #works {
        padding: 80px 20px 50px 20px;
        text-align: center;
    
        #portfolio {
            margin: 1px;
            /* Márgenes */
            .content-galery, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
                max-width: 1920px;
                margin-top: 50px;
                margin-bottom: 50px;

                .grid-galery {
                    @include grilla (grid, repeat(auto-fit, minmax(200px, 200px)), 18px, none, center, center);

                    .portfolio-box {
                        height: 260px;
                        width: 200px;
                
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 15px;
                        }
                    }
                }
            }
        }
    }
}

/* Menú responsive: Logotipo texto */

@media (max-width: 325px) {
    .navbar-brand p {
        display: none;
    }
}
